<!-- header begin -->
<header>
  <div class="container">
    <div id="logo">
      <div class="inner">
        <a href="index.html"><img src="img/logo.png"/></a>
      </div>
    </div>

    <ul id="mainmenu">
      <li><a href="index.html">Home</a>
        <ul>
          <li><a href="index-slider.html">With Slider</a>
          </li>
          <li><a href="index.html">Featured Listing</a>
          </li>
        </ul>

      <li><a href="#">Properties</a>
        <ul>
          <li><a href="for-sale.html">For Sale</a>
          </li>
          <li><a href="for-rent.html">For Rent</a>
          </li>
          <li><a href="property-details.html">Property Details</a>
          </li>
        </ul>

      <li><a href="news.html">News</a>
        <ul>
          <li><a href="single-news.html">Single News</a></li>
        </ul>
      </li>
      <li><a href="fullwidth.html">Fullwidth</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
      </li></li></ul>

  </div>
</header>
<!-- header close -->

<!-- featured begin -->
<section id="featured" data-speed="1" data-type="background">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="item">
          <span class="label rent">FOR RENT</span>
          <img src="img/featured-pic-1.jpg"/>

          <div class="info">
            <h2><a href="img/#">Georgeus House</a></h2>

            <div class="text1">Margonda Street, Depok</div>
            <div class="price">$50,000</div>
            <div class="info-listing">
              <span class="meter">500</span>
              <span class="car">2</span>
              <span class="bath">2</span>
              <span class="bed">4</span>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="item">
          <span class="label sale">FOR SALE</span>
          <img src="img/featured-pic-2.jpg"/>

          <div class="info">
            <h2><a href="img/#">Unique Villa</a></h2>

            <div class="text1">Margonda Street, Depok</div>
            <div class="price">$50,000</div>
            <div class="info-listing">
              <span class="meter">500</span>
              <span class="car">2</span>
              <span class="bath">2</span>
              <span class="bed">4</span>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="item">
          <span class="label rent">FOR RENT</span>
          <img src="img/featured-pic-3.jpg"/>

          <div class="info">
            <h2><a href="img/#">Georgeus House</a></h2>

            <div class="text1">Margonda Street, Depok</div>
            <div class="price">$50,000</div>
            <div class="info-listing">
              <span class="meter">500</span>
              <span class="car">2</span>
              <span class="bath">2</span>
              <span class="bed">4</span>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="item">
          <span class="label sale">FOR SALE</span>
          <img src="img/featured-pic-4.jpg"/>

          <div class="info">
            <h2><a href="img/#">Unique Villa</a></h2>

            <div class="text1">Margonda Street, Depok</div>
            <div class="price">$50,000</div>
            <div class="info-listing">
              <span class="meter">500</span>
              <span class="car">2</span>
              <span class="bath">2</span>
              <span class="bed">4</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- featured close -->


<!-- search begin -->
<div id="search">
  <div class="container">
    <div class="row">
      <span class="span2">Find Your Home:</span>

      <form class="form-inline"/>
      <div class="span2">
        <select name="">
          <option/>
          Location
        </select>
      </div>
      <div class="span2">
        <select name="">
          <option/>
          Min Price
          <option/>
          $50,000
          <option/>
          $75,000
          <option/>
          $50,000
          <option/>
          $75,000
          <option/>
          $100,000
          <option/>
          $150,000
          <option/>
          $200,000
          <option/>
          $250,000
          <option/>
          $300,000
          <option/>
          $350,000
          <option/>
          $400,000
          <option/>
          $450,000
          <option/>
          $500,000
          <option/>
          $600,000
          <option/>
          $700,000
          <option/>
          $800,000
          <option/>
          $900,000
          <option/>
          $1,000,000
          <option/>
          $2,000,000
          <option/>
          $3,000,000
          <option/>
          $4,000,000
          <option/>
          $5,000,000
        </select>
      </div>
      <div class="span2">
        <select name="">
          <option/>
          Max Price
          <option/>
          $50,000
          <option/>
          $75,000
          <option/>
          $50,000
          <option/>
          $75,000
          <option/>
          $100,000
          <option/>
          $150,000
          <option/>
          $200,000
          <option/>
          $250,000
          <option/>
          $300,000
          <option/>
          $350,000
          <option/>
          $400,000
          <option/>
          $450,000
          <option/>
          $500,000
          <option/>
          $600,000
          <option/>
          $700,000
          <option/>
          $800,000
          <option/>
          $900,000
          <option/>
          $1,000,000
          <option/>
          $2,000,000
          <option/>
          $3,000,000
          <option/>
          $4,000,000
          <option/>
          $5,000,000
        </select>
      </div>
      <div class="span2">
        <select name="">
          <option/>
          Type
          <option/>
          Apartmen
          <option/>
          Country House
          <option/>
          Loft
          <option/>
          Villa
        </select>
      </div>
      <div class="span2">
        <a href="#" class="btn btn-info btn-search">Search</a>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- search close -->

<!-- content begin -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="title">Latest Listings</h3>
      </div>

      <div class="span4 small-list">
        <span class="label sale">FOR SALE</span>
        <img src="img/small-pic-1.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label sale">FOR SALE</span>
        <img src="img/small-pic-3.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label rent">FOR RENT</span>
        <img src="img/small-pic-4.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label rent">FOR RENT</span>
        <img src="img/small-pic-2.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label rent">FOR RENT</span>
        <img src="img/small-pic-2.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
          <br/>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label sale">FOR SALE</span>
        <img src="img/small-pic-1.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label sale">FOR SALE</span>
        <img src="img/small-pic-3.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label sale">FOR SALE</span>
        <img src="img/small-pic-1.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>

      <div class="span4 small-list">
        <span class="label rent">FOR RENT</span>
        <img src="img/small-pic-3.jpg"/>
        <a href="#" class="arrow"></a>

        <div class="info">
          <h2><a href="img/#">Georgeus House</a></h2>

          <div class="text1">Margonda Street, Depok</div>
          <div class="price">$50,000</div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <h3 class="span12 title">Template Features</h3>

      <div class="span3 text-center">
        <img class="img-circle blue" src="img/icon-monitor-40px.png"/>
        <h4>Responsive Layout</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </div>

      <div class="span3 text-center">
        <img class="img-circle red" src="img/icon-gear-40px.png"/>
        <h4>Customizable</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </div>

      <div class="span3 text-center">
        <img class="img-circle orange" src="img/icon-home-40px.png"/>
        <h4>Search Property</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </div>

      <div class="span3 text-center">
        <img class="img-circle green" src="img/icon-love-40px.png"/>
        <h4>Made With Love</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </div>
    </div>
  </div>

</div>
<!-- content close -->


<section id="call-to-action" data-speed="5" data-type="background">
  <div class="container">
    <div class="row call-to-action">
      <div class="span8">
        <h3>Get this awesome template now! This is 'call to action' section.</h3>
      </div>
      <a href="#" class=" span3 btn btn-large">
        Buy This Theme!
      </a>
    </div>
  </div>
</section>

<!-- footer begin -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h3>About Us</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </div>

      <div class="span3">
        <h3>Photo Stream</h3>

        <div id="flickr-photo-stream">
          <script type="text/javascript"
              src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="span3">
        <h3>Latest News</h3>
        <ul class="list-news">
          <li>
            <img src="img/thumbnail-1.jpg"/>

            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
            </div>
          </li>
          <li>
            <img src="img/thumbnail-1.jpg"/>

            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
            </div>
          </li>
        </ul>
      </div>
      <div class="span3">
        <h3>Follow Us</h3>

        <div class="social-icons">
          <a href="#"><img src="img/social-icons/rss.png"/></a>
          <a href="#"><img src="img/social-icons/facebook.png"/></a>
          <a href="#"><img src="img/social-icons/twitter.png"/></a>
          <a href="#"><img src="img/social-icons/gplus.png"/></a>
          <a href="#"><img src="img/social-icons/youtube.png"/></a>
          <a href="#"><img src="img/social-icons/vimeo.png"/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="span6">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Find a Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- footer close -->