<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Casabella</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <link href="<?= assets() ?>css/main.css" rel="stylesheet"/>
</head>
<body>

  <?= $body ?>

  <!-- LOAD JS FILES -->
  <script src="<?= assets() ?>js/jquery.min.js"></script>
  <script src="<?= assets() ?>js/bootstrap.min.js"></script>
  <script src="<?= assets() ?>js/jquery.isotope.min.js"></script>
  <script src="<?= assets() ?>js/jquery.prettyPhoto.js"></script>
  <script src="<?= assets() ?>js/easing.js"></script>
  <script src="<?= assets() ?>js/jquery.ui.totop.js"></script>
  <script src="<?= assets() ?>js/selectnav.js"></script>
  <script src="<?= assets() ?>js/ender.js"></script>
  <script src="<?= assets() ?>js/custom.js"></script>
</body>
</html>
